.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ccc;
    font-size: 30px;
    padding: 0;
    cursor: pointer;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}
body{
    background-color: #fbf4de;
}